<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syf.dao.AlbumDao">

    <resultMap id="r1" type="Album">
        <id column="id" property="id"/>
        <collection property="children" column="id" select="com.syf.dao.ChapterDao.queryByPid"/>
    </resultMap>

    <select id="queryAll" resultMap="r1">
      select * from album limit #{page},#{rows}
	</select>

    <delete id="delete" parameterType="String">
        delete from album where id = #{id}
    </delete>

    <insert id="save" parameterType="Album">
        insert into album VALUES (#{id},#{title},#{count},#{corverImg},#{score},
        #{author},#{broadCast},#{brife},#{publicDate},#{createDate},#{status})
    </insert>

    <select id="total" resultType="Integer">
        SELECT count(*) FROM album
    </select>
</mapper>
