<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syf.dao.UserDao">

    <select id="queryAll" resultType="User">
       SELECT * FROM USER limit #{page},#{rows}
   </select>


    <update id="update" parameterType="User">
        UPDATE USER SET status = #{status} WHERE id = #{id}
    </update>

    <select id="total" resultType="Integer">
        SELECT COUNT(*) FROM USER
    </select>

    <insert id="save">
        INSERT INTO USER(id,name,dharmaName,password,sex,province,city,phone,
        sign,status,registDate)
        VALUES
        <foreach collection="users" item="user" index="index" separator=",">
            (#{user.id},#{user.name},#{user.dharmaName},#{user.password},
            #{user.sex},#{user.province},#{user.city},#{user.phone},
            #{user.sign},#{user.status},#{user.registDate})
        </foreach>
    </insert>

    <select id="queryByDate" parameterType="Integer" resultType="Integer">
        <![CDATA[


          select count(*) from user where datediff(NOW(),registDate)<#{date}


        ]]>
    </select>

    <select id="queryByProvince" parameterType="String" resultType="UserDto">
        SELECT
            province name,
            count(*) value
        FROM
            USER
        WHERE
            sex = #{sex}
        GROUP BY
            province
    </select>

    <select id="queryByPhone" resultType="User">
        select * from user where phone = #{phone}
    </select>

    <insert id="insertUser" parameterType="User">
        insert into user(id,password,phone,salt,status,registDate)
        values(#{id},#{password},#{phone},#{salt},#{status},#{registDate})
    </insert>
</mapper>
